@import url(https://fonts.googleapis.com/css?family=Economica:400,700);

.clubLine {
    height: 300px;
    margin: 20px 10%;
}

.clubLine #one {
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    flex: 1;
}

.clubLine h2 {
    font-size: 30pt;
    padding-top: 0;
}

.clubLine #two {
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    flex: 2;
}

.clubLine .clubIcon {
    width: 150px;
    object-fit: cover;
    top: 0;
}

.clubLine .clubFlex {
    display: flex;
}