@import url('https://fonts.googleapis.com/css?family=Montserrat');

.navbar {
    background-color: #f4a460;
    font-size: 19px;
    font-family: normal;
    margin-left: 48%;
    font-family: Montserrat;
    font-weight: bold;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  margin-left: 25px;
}

.nav-link {
    margin-left: 45px;
}


html {
    font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}


