.bannerImg{
    width: 100%;
    height: 350px;
    overflow: hidden;
    object-fit: cover;
}

#carouselMain {
    width: auto;
    display: block;
    margin: 0 20px;
}

.carousel.item {
    height: 100%;
}

#homebgvideo {
    margin-top: -300px;
    margin-bottom: 50px;
}

.homeCardImage {
    height: 250px;
    object-fit: cover;
    image-rendering: pixelated;
}

.homeCard {
    width: 20%;
}

#homeCarouselGrid {
    display: grid;
    grid-template-columns: 25% 75%;
    padding: 1%;
}